<!doctype html>

<!-- Bootstrap -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}

<div style="width: 100%" class="shadow p-2 mb-3 bg-body rounded text-white">
    <h3 class="font-monospace text-center">Housing for UVA Students by B-07!</h3>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Explore!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'housing:studentHousingList' %}">Browse Listings</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'housing:logout' %}">Logout</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">Account</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item nav-link" href="{% url 'housing:profile' %}">Profile</a>
                        <a class="dropdown-item nav-link" href="{% url 'housing:review_list' %}">Manage comments</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'housing:submission' %}">Suggest a Listing</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% provider_login_url 'google' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<h1 class="display-3 col-md-4 offset-md-4">Profile</h1><br>

{% if currentuser %}
    <ul class="list-group col-md-3 offset-md-4">
        <label class="form-label">User Name</label>
        <li class="list-group-item">{{ currentuser.userName }}</li><br>
        <label class="form-label">Email</label>
        <li class="list-group-item">{{ currentuser.email }}</li><br>
        <label class="form-label">Gender</label>
        <li class="list-group-item">{{ currentuser.gender }}</li><br>
        <label class="form-label">Age</label>
        {% if currentuser.age != 0 %}
            <li class="list-group-item">{{ currentuser.age }}</li><br>
        {% else %}
            <li class="list-group-item"></li><br>
        {% endif %}
        <label class="form-label">School Year</label>
        <li class="list-group-item">{{ currentuser.schoolYear }}</li><br>
        <label class="form-label">Major</label>
        <li class="list-group-item">{{ currentuser.major }}</li><br>
    </ul>
    <a style="text-decoration:none" class="btn btn-primary col-md-1 offset-md-5" href="{% url 'housing:edit_profile' %}">Edit</a>
{% else %}
    <p>No profile available.</p>
{% endif %}
