<!doctype html>

<!-- Bootstrap -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}

<div style="width: 100%" class="shadow p-2 mb-3 bg-body rounded text-white">
    <h3 class="font-monospace text-center">Housing for UVA Students by B-07!</h3>
</div>

{% if error_message %}<p class="col-md-4 offset-md-4"><strong>{{ error_message }}</strong></p>{% endif %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand">Explore!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'housing:studentHousingList' %}">Browse Listings</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'housing:logout' %}">Logout</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">Account</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item nav-link" style="color:black;" href="{% url 'housing:profile' %}">Profile</a>
                        <a class="dropdown-item nav-link" style="color:black;" href="{% url 'housing:review_list' %}">Manage comments</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'housing:submission' %}">Suggest a Listing</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% provider_login_url 'google' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<h1 class="display-3 col-md-4 offset-md-4">Profile Edit</h1><br>

{% if currentuser %}
<ul class="list-group col-md-3 offset-md-4">
    <label class="form-label">User Name</label>
    <li class="list-group-item">{{ currentuser.userName }}</li><br>
    <label class="form-label">Email</label>
    <li class="list-group-item">{{ currentuser.email }}</li><br>
</ul>
<form action="{% url 'housing:submit_profile' %}" method="post">
    {% csrf_token %}
    <div class="col-md-3 offset-md-4">
        <label for="Textarea1" class="form-label">Gender</label>
        <input class="form-control w-100" id="Textarea1" name="gender" value={{currentuser.gender}}></input>
        <br>
    </div>
    <div class="col-md-3 offset-md-4">
        <label for="Textarea2" class="form-label">Age</label>
        <input class="form-control" id="Textarea2" name="age" value={{currentuser.age}}></input>
        <br>
    </div>
    <div class="col-md-3 offset-md-4">
        <label for="Textarea3" class="form-label">School Year</label>
        <select class="form-select" aria-label="Default select example" id="Textarea3" name="schoolYear" value={{currentuser.schoolYear}}>
            <option selected>{{currentuser.schoolYear}}</option>
            <option value="Freshman">Freshman</option>
            <option value="Sophomore">Sophomore</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
            <option value="Graduate">Graduate</option>
            <option value="Other">Other</option>
        </select>
        <br>
    </div>
    <div class="col-md-3 offset-md-4">
        <label for="Textarea4" class="form-label">Major</label>
        <input class="form-control w-100" id="Textarea4" name="major" value={{currentuser.major}}></input>
        <br>
    </div>
    <button class="btn btn-primary col-md-1 offset-md-5" type="submit">Submit</button>
</form>
{% else %}
    <p>No profile available.</p>
{% endif %}