<!doctype html>

<!-- Bootstrap -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}

<div style="width: 100%" class="shadow p-2 mb-3 bg-body rounded text-white">
    <h3 class="font-monospace text-center">Housing for UVA Students by B-07!</h3>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Explore!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'housing:studentHousingList' %}">Browse Listings</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'housing:logout' %}">Logout</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">Account</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item nav-link" href="{% url 'housing:review_list' %}">Manage comments</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'housing:submission' %}">Suggest a Listing</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% provider_login_url 'google' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% if user.is_authenticated %}
<div style="width: 400px; font-size:120%">
    <p class="text-success">Hi, {{ user.username }}! Here are the listings:</p>
</div>
{% endif %}

{% if studentHousing_list %}
    <dl style="margin-left: 10px">
    {% for studentHousing in studentHousing_list %}
        <dt class="text-uppercase fw-bolder"><a style="text-decoration:none" href="{% url 'housing:detail' studentHousing.id %}"><strong>{{ studentHousing.name }}</strong></a></dt>
        <dd class="badge bg-white text-danger text-primary text-lowercase fw-light"><em>Distance to Grounds: {{ studentHousing.distToGrounds }}</em></dd>
        <dd class="badge bg-white text-danger text-primary text-lowercase fw-light"><em>Location: {{ studentHousing.location }}</em></dd>
        <dd class="badge bg-white text-danger text-primary text-lowercase fw-light"><em>Cost: ${{ studentHousing.minCost }} - ${{ studentHousing.maxCost }}</em></dd>
        <br>
        {% if studentHousing.image %}
            <img width="25%" src="{{  studentHousing.image.url }}"> 
        {% endif %}
        <br><br>
    {% endfor %}
    </dl>
{% else %}
    <p>No housing options are available.</p>
{% endif %}


<div style="bottom:0; width:100%" class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Project B-07</h5>
      <p class="card-text">CS3240 Off-Grounds Housing</p>
    </div>
    <div class="card-footer text-muted">
      c. 2021
    </div>
</div>
